@model Shop.N8.Models.CartVM

<form method="post" asp-action="Summary">
    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Shipping details</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" asp-for="@Model.OrderHeader.Name" class="form-control" />
                                <label class="form-label" for="form7Example1">Name</label>
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" asp-for="@Model.OrderHeader.Phone" class="form-control" />
                            <label class="form-label" for="form7Example6">Phone</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" asp-for="@Model.OrderHeader.Address" class="form-control" />
                            <label class="form-label" for="form7Example7">Address</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" asp-for="@Model.OrderHeader.City" class="form-control" />
                            <label class="form-label" for="form7Example6">City</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" asp-for="@Model.OrderHeader.State" class="form-control" />
                            <label class="form-label" for="form7Example6">State</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" asp-for="@Model.OrderHeader.PostalCode" class="form-control" />
                            <label class="form-label" for="form7Example6">Postal Code</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card mb-4">
                <div clas="card-header py-3">
                    <h5 class="mb-0">Summary</h5>
                </div>

                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        @foreach (var details in @Model.ListOfCart)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                <span style="display: inline-block; max-width: 200px; word-wrap: break-word;">@details.Product.ProductName</span>
                                <span style="margin-right: 10px;">QTY: @details.Count</span>
                                <span style="margin-right: 10px;">@(((details.Product.Price) * (details.Count)).ToString("N0"))đ</span>
                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Total amount</strong>
                            </div>                            
                            <span><strong>@Model.OrderHeader.OrderTotal.ToString("N0") đ</strong></span>
                        </li>
                    </ul>
                    <button tupe="submit" class="btn btn-primary btn-lg btn-block">
                        Order
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>